.none {
  display: none;
}

.block {
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 70%;
  animation: animacao .2s;
}


@keyframes animacao {
  0% {
    opacity: 0;
    transform: translate3d(-10px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

